@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  outline: 1px solid silver;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.timerSection{
  background-image: url('./assets/1st desktop bubble bg.png');
  background-size: cover;
  background-position: top;
  padding: 2rem;
  background-repeat: no-repeat;
}

@media (max-width: 567px) {
  .timerSection{
    background-image: url('./assets/1st mobile bubble bg.png');
    background-size: cover;
    background-position: center;
    padding: 2rem;
    background-repeat: no-repeat;
  } 
}
